.BuildControls{
    position:relative;
    color: aliceblue;
    width:100%;
    height:max-content;
    margin: auto;
    bottom: 0;
    padding: 10px 0;
    /* margin-bottom: 10px; */
    background-color: #17141d;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  /* transition: 0.4s ease-out;
  position: relative;
  left: 0px; */
}
    
    /* position: relative;
    margin: auto;
    margin-bottom: 10px;
    overflow: hidden;
    width: 520px;
    height: 350px;
    background: #AC9980;
    box-shadow: 5px 5px 15px rgba(rose, .5);
    border-radius: 10px;
    
  } */

.OrderButton {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #6200ef;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 10px;
}


.OrderButton:hover {
  background: #fa1562;
}
.OrderButton:disabled {
  background-color: #C7C6C6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}
