/* mobile */
.NavigationItem{
    margin:10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    
}
.NavigationItem a{
    color: white;
    text-emphasis: none;
    width: 80%;
    height: auto;
    box-sizing: border-box;
    display: block;
    border-radius: 2px;
    padding: 16px 10px;
    text-decoration: none;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    background-color: #6300ec;
    /* border-bottom: 4px solid #f7165f; */
    color: white;
}

/* desktop */
@media (min-width:500px){
    .NavigationItem{
        margin:0;
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
        
    }
    .NavigationItem a{
        color: white;
        text-emphasis: none;
        height:100%;
        padding: 16px 10px;
        /* border-bottom: 4px solid transparent; */
        box-sizing: border-box;
        display: block;
        border-radius: 2px;
        width: auto;
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        background-color: #6300ec;
        /* border-bottom: 4px solid #f7165f; */
        color: white;
    }
}