.ContactData {
    width: 69%;
    margin: 20px auto;
    text-align: center;
    margin-top: 0;

    /* background-color: rgb(15, 11, 11); */
    background-color: #fff;

    border-radius: 0px 0px 10px 10px;
    padding: 30px 30px 50px;
    color: white;
    font-weight: 500;
    /* box-shadow: -1rem 0 3rem #000; */

}
.Headers{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 100px;
    padding: 20px;

    text-align: center;
    background-color: #6300EC;
    height: fit-content;
    /* t  */
    border-radius: 10px 10px 1px 1px;
    /* box-shadow: -1rem 0 3rem #000; */

}



